<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Avaliação</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{avaliacaoBean.iniciar}" />
		</f:metadata>
		<h:form id="fr-aluno">
			<p:focus for="turma" />
			<p:panel header="Avaliação - Aluno" styleClass="panel-formulario"
				rendered="#{!autenticacaoBean.usuario.equals('PROFESSOR')}"
				toggleable="#{autenticacaoBean.usuario.equals('ADMIN')}">
				<p:panelGrid id="pnl-gera-avaliacao" columns="4" layout="grid">
					<p:panelGrid>
						<p:outputLabel value="Turma" for="turma" />
						<p:selectOneMenu id="turma"
							value="#{avaliacaoBean.avaliacao.turma}" filter="true"
							filterMatchMode="startsWith" effect="fold"
							disabled="#{empty avaliacaoBean.avaliacao}">
							<f:selectItem itemLabel="Selecione a turma"
								noSelectionOption="true" />
							<f:selectItems var="t" value="#{avaliacaoBean.listarTurmas()}"
								itemLabel="#{t.tipoturma.tipoturma} #{t.turma}" itemValue="#{t}" />
							<p:ajax event="itemSelect" update="disciplina" />
						</p:selectOneMenu>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Disciplina" for="disciplina" />
						<p:autoComplete id="disciplina"
							value="#{avaliacaoBean.avaliacao.disciplina}" dropdown="true"
							title="Selecione a disciplina"
							disabled="#{empty avaliacaoBean.avaliacao.turma}" var="d"
							itemLabel="#{d.disciplina.disciplina}"
							itemValue="#{d.disciplina}"
							completeMethod="#{avaliacaoBean.listarDisciplinasPorTurma}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							required="true" effect="blind" dropdownMode="current"
							forceSelection="true" scrollHeight="150">
							<p:ajax event="itemSelect" update="modulo" />
						</p:autoComplete>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Módulo" for="modulo" />
						<p:autoComplete id="modulo"
							value="#{avaliacaoBean.avaliacao.modulo}" dropdown="true"
							title="Selecione o módulo"
							disabled="#{empty avaliacaoBean.avaliacao.disciplina}" var="m"
							itemLabel="#{m.modulo}" itemValue="#{m}"
							completeMethod="#{avaliacaoBean.listarModulos}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							required="true" effect="blind" dropdownMode="current"
							forceSelection="true" scrollHeight="150">
							<p:ajax event="itemSelect" update="btn-gerar-prova" />
						</p:autoComplete>
					</p:panelGrid>
					<p:panelGrid>
						<br />
						<p:commandButton id="btn-gerar-prova" value="Gerar Avaliação"
							action="#{avaliacaoBean.gerarAvaliacao}"
							update="questoes btn-encerrar-prova"
							oncomplete="PF('bui').show()"
							disabled="#{empty avaliacaoBean.avaliacao.modulo}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid id="questoes">
					<p:repeat value="#{avaliacaoBean.questoesDaAvaliacaoGerada}"
						var="questao" varStatus="indice">
						<p:outputPanel>
							<p:panelGrid columns="1" layout="grid">
								<f:facet name="header">
									<p:outputLabel value="Questão #{indice.index + 1}" />
								</f:facet>
								<h:outputText value="#{questao.questao}"
									style="margin-top: 25px;" />
							</p:panelGrid>
							<p:separator />
							<p:selectOneRadio id="item-selecionado"
								value="#{avaliacaoBean.item}" layout="grid" columns="1">
								<f:selectItems value="#{questao.itemquestaos}" var="item"
									itemLabel="#{item.itemquestao}" itemValue="#{item}" />
								<f:ajax listener="#{avaliacaoBean.selecionarItem(questao)}" />
							</p:selectOneRadio>
						</p:outputPanel>
					</p:repeat>
				</p:panelGrid>
				<p:separator />
				<p:panelGrid columns="2" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-9, ui-grid-col-3">
					<p:panelGrid />
					<p:commandButton id="btn-encerrar-prova" update="nota"
						value="Finalizar Avaliação"
						action="#{avaliacaoBean.finalizarAvaliacao}"
						disabled="#{empty avaliacaoBean.questoesDaAvaliacaoGerada}"
						oncomplete="PF('bui').hide()" onsuccess="PF('resultado').show();">
						<p:confirm message="Tem certeza que deseja encerrar a avaliação?" />
					</p:commandButton>
				</p:panelGrid>
				<p:dialog header="Resultado" resizable="false" responsive="true"
					closable="false" widgetVar="resultado" modal="true" height="100">
					<h:panelGrid columns="1" style="text-align: center;">
						<h:outputText id="nota" value="#{avaliacaoBean.nota}"
							style="font-size: 50px; color: orange;" />
						<p:link value="Encerrar" outcome="/paginas/principal" />
					</h:panelGrid>
				</p:dialog>
				<p:blockUI block="pnl-gera-avaliacao" widgetVar="bui" />
			</p:panel>
		</h:form>
		<h:form id="fr-professor">
			<p:panel header="Avaliação - Professor" styleClass="panel-formulario"
				rendered="#{!autenticacaoBean.usuario.equals('ALUNO')}"
				toggleable="#{autenticacaoBean.usuario.equals('ADMIN')}">
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>