@charset "utf-8";

/* BASE */
body {
	margin: 0;
	font-family: Verdana, Geneva, Lucida Sans, DejaVu Sans, sans-serif;
}

/*FONTE DAS PÁGINAS*/
.ui-widget, .ui-widget .ui-widget {
	margin: 0;
	padding: 1;
	font-size: 12px !important;
	font-weight: 700;
}

/* PANELGRID */
.ui-panelgrid.panelgrid-noborder .ui-grid-responsive {
	border: none;
	padding:  0;
}

.coluna-codigo {
	width: 5%;
	text-align: center;
}

.coluna-cnpj {
	width: 18%;
	text-align: center;
}

.coluna-fone {
	width: 12%;
	text-align: center;
}

.coluna-cpf {
	width: 13%;
	text-align: center;
}

.rodape {
	font-size: 10px;
	width: 98%;
	font-weight: bold;
	text-align: right;
	position: static;
	bottom: 0;
}

#frm-login, a {
	color: activeborder;
}