<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title><ui:insert name="titulo">AVALIA</ui:insert></title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputScript library="js" name="app.js" />
	<h:outputScript library="js/highchart" name="exporting.js" />
	<h:outputScript library="js/highchart" name="highcharts-3d.js" />
	<h:outputScript library="js/highchart" name="highcharts.js" />
</h:head>
<h:body>
	<p:growl life="5000" autoUpdate="true" />
	<p:ajaxStatus onstart="PF('status').show();"
		onsuccess="PF('status').hide()" />
	<p:dialog widgetVar="status" closable="false" resizable="false">
		#{msg.load_aguarde}
	</p:dialog>
	<div class="container-fluid">
		<div class="fluid ui-fluid">
			<h:form>
				<p:panelGrid columns="1" layout="grid"
					styleClass="panelgrid-noborder" columnClasses="ui-grid-col-12">
					<p:menubar style="padding: 0px;">
						<p:menuitem outcome="/paginas/principal">
							<h:graphicImage library="img/png" name="home.png" width="20"
								title="Página iniicial" />
						</p:menuitem>
						<p:submenu label="#{msg.menu_cadastros}"
							rendered="#{!autenticacaoBean.usuario.equals('ALUNO')}">
							<p:menuitem value="#{msg.menu_aluno}"
								outcome="/paginas/cadastro/aluno" />
							<p:menuitem value="#{msg.menu_conteudo}"
								outcome="/paginas/cadastro/conteudo" />
							<p:menuitem value="#{msg.menu_disciplina}"
								outcome="/paginas/cadastro/disciplina" />
							<p:menuitem value="#{msg.menu_modulo}"
								outcome="/paginas/cadastro/modulo" />
							<p:menuitem value="#{msg.menu_periodo_letivo}"
								outcome="/paginas/cadastro/periodoletivo" />
							<p:menuitem value="#{msg.menu_professor}"
								outcome="/paginas/cadastro/professor" />
							<p:menuitem value="#{msg.menu_questao}"
								outcome="/paginas/cadastro/questao" />
							<p:menuitem value="#{msg.menu_sexo}" rendered="false"
								outcome="/paginas/cadastro/sexo" />
							<p:menuitem value="#{msg.menu_tipo_turma}"
								outcome="/paginas/cadastro/tipoTurma" />
							<p:menuitem value="#{msg.menu_turma}"
								outcome="/paginas/cadastro/turma" />
						</p:submenu>
						<p:submenu label="#{msg.menu_academico}">
							<p:menuitem value="#{msg.menu_avaliacao}"
								outcome="/paginas/aluno/avaliacao" />
							<p:menuitem value="#{msg.menu_matricula}"
								outcome="/paginas/academico/matricula"
								rendered="#{!autenticacaoBean.usuario.equals('ALUNO')}" />
							<p:menuitem value="Boletim" outcome="/paginas/academico/boletim" />
							<p:menuitem value="Frequência"
								outcome="/paginas/academico/frequencia"
								rendered="#{!autenticacaoBean.usuario.equals('ALUNO')}" />
						</p:submenu>
						<p:submenu label="#{msg.menu_documentos}"
							rendered="#{!autenticacaoBean.usuario.equals('ALUNO')}">
							<p:menuitem value="#{msg.menu_historico}"
								outcome="/paginas/documentos/historico" />
							<p:menuitem value="#{msg.menu_declaracoes}"
								outcome="/paginas/documentos/declaracoes" />
							<p:menuitem value="#{msg.menu_relatorios}"
								outcome="/paginas/documentos/relatorio" />
						</p:submenu>
						<p:submenu style="float: right;"
							label="#{msg.lbl_user} #{autenticacaoBean.usuario}!">
							<p:menuitem value="Logout"
								action="#{autenticacaoBean.encerrarSessao}"
								title="#{msg.title_sair_do_sistema}" />
						</p:submenu>
					</p:menubar>
				</p:panelGrid>
			</h:form>
			<p:panelGrid columns="1" layout="grid"
				styleClass="panelgrid-noborder" columnClasses="ui-grid-col-12">
				<ui:insert name="cabecalho" />
				<p:panelGrid columns="1" layout="grid"
					styleClass="panelgrid-noborder" columnClasses="ui-grid-col-12">
					<ui:insert name="corpo" />
				</p:panelGrid>
			</p:panelGrid>
			<ui:insert name="rodape">
				<hr />
				<div class="rodape" align="center">#{msg.rodape_msg} - 2016</div>
			</ui:insert>
		</div>
	</div>
	<h:form>
		<p:confirmDialog global="true" header="Confirmação de ação!">
			<p:commandButton value="Não" type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />

			<p:commandButton value="Sim" type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
		</p:confirmDialog>
	</h:form>

	<script>
		PrimeFaces.locales['pt'] = {
			closeText : 'Fechar',
			prevText : 'Anterior',
			nextText : 'Próximo',
			currentText : 'Começo',
			monthNames : [ 'Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio',
					'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro',
					'Novembro', 'Dezembro' ],
			monthNamesShort : [ 'Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun',
					'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ],
			dayNames : [ 'Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta',
					'Sexta', 'Sábado' ],
			dayNamesShort : [ 'Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb' ],
			dayNamesMin : [ 'D', 'S', 'T', 'Q', 'Q', 'S', 'S' ],
			weekHeader : 'Semana',
			firstDay : 0,
			isRTL : false,
			showMonthAfterYear : false,
			yearSuffix : '',
			timeOnlyTitle : 'Só Horas',
			timeText : 'Tempo',
			hourText : 'Hora',
			minuteText : 'Minuto',
			secondText : 'Segundo',
			ampm : false,
			month : 'Mês',
			week : 'Semana',
			day : 'Dia',
			allDayText : 'Todo o Dia'
		};
		onkeydown = "if(event.keyCode==13) event.keyCode=9;";
	</script>
</h:body>
</html>