<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="corpo">
		<h:form id="frm-aluno"
			rendered="#{autenticacaoBean.usuario.equals('ALUNO')}">
			<h1>Olá! Aluno.</h1>
			<h3>
				Seja bem-vindo ao sistema <b>AVALIA</b>
			</h3>
		</h:form>
		<h:form id="frm-professor"
			rendered="#{autenticacaoBean.usuario.equals('PROFESSOR')}">
			<h1>Olá! Professor</h1>
			<h3>
				Seja bem-vindo ao sistema <b>AVALIA</b>
			</h3>
		</h:form>

		<h:form id="frm-admin"
			rendered="#{autenticacaoBean.usuario.equals('ADMIN')}">
			<div id="graficos" class="ui-fluid">
				<div id="container2" class="col-md-6" />
				<div id="container" class="col-md-6" />
			</div>
			<script>
				//Gráficos
				$(function() {
					$('#container')
							.highcharts(
									{
										chart : {
											type : 'pie',
											options3d : {
												enabled : true,
												alpha : 45
											}
										},
										title : {
											text : 'Alunos por Bairro'
										},
										subtitle : {
											text : 'Alunos matriculados - 2016'
										},
										credits : {
											enabled : false
										},
										plotOptions : {
											pie : {
												innerSize : 5,
												depth : 45,
												showInLegend : true
											}
										},
										series : [ {
											name : 'Total de alunos',
											data : [ [ 'Messejana', 150 ],
													[ 'Aldeota', 10 ],
													[ 'Sapiranga', 20 ],
													[ 'Papicú', 12 ],
													[ 'Outros', 50 ] ]
										} ]
									});
				});

				$(function() {
					// Ano escolar
					var categories = [ '1º Ano', '2º Ano', '3º Ano', '4º Ano',
							'5º Ano', '6º Ano', '7º Ano', '8º Ano', '9º Ano' ];
					$(document)
							.ready(
									function() {
										$('#container2')
												.highcharts(
														{
															chart : {
																type : 'bar'
															},
															title : {
																text : 'Divisão de alunos por sexo'
															},
															subtitle : {
																text : 'Distribuição de alunos em cada série de acordo com o sexo - 2016'
															},
															credits : {
																enabled : false
															},
															xAxis : [
																	{
																		categories : categories,
																		reversed : false,
																		labels : {
																			step : 1
																		}
																	},
																	{
																		opposite : true,
																		reversed : false,
																		categories : categories,
																		linkedTo : 0,
																		labels : {
																			step : 1
																		}
																	} ],
															yAxis : {
																title : {
																	text : null
																},
																labels : {
																	formatter : function() {
																		return Math
																				.abs(this.value)
																				* 10
																				+ '%';
																	}
																}
															},

															plotOptions : {
																series : {
																	stacking : 'normal'
																}
															},

															tooltip : {
																formatter : function() {
																	return '<b>'
																			+ this.series.name
																			+ ': '
																			+ this.point.category
																			+ '</b><br/>'
																			+ 'Quantidade: '
																			+ Highcharts
																					.numberFormat(
																							Math
																									.abs(this.point.y),
																							0);
																}
															},

															series : [
																	{
																		name : 'Meninos',
																		data : [
																				-4.2,
																				-4.6,
																				-5.3,
																				-5.1,
																				-4.7,
																				-4.1,
																				-5.5,
																				-4.1,
																				-4.6 ]
																	},
																	{
																		name : 'Meninas',
																		data : [
																				5.8,
																				5.4,
																				4.7,
																				4.9,
																				5.3,
																				5.9,
																				4.5,
																				5.9,
																				5.4 ]
																	} ]
														});
									});
				});
			</script>
		</h:form>
	</ui:define>
</ui:composition>