<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:jsf="http://xmlns.jcp.org/jsf"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>User Page</title>
	<link
		href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
		rel="stylesheet"></link>
</h:head>
<h:body style="padding:10px">

	<form jsf:id="userform">

		<p:messages id="msg" showDetail="true" closable="true" />

		<div class="form-group col-md-4">
			<label for="firstname">Aluno</label> <input id="firstname"
				type="text" jsf:required="true" class="form-control"
				placeholder="Nome do  Aluno" jsf:value="#{userView.user.firstname}" />
		</div>
		<div class="form-group col-md-4">
			<label for="lastname">Turma</label> <input id="lastname" type="text"
				class="form-control" placeholder="Nome da turma"
				jsf:value="#{userView.user.lastname}" />
		</div>
		<div class="form-group col-md-4">
			<label for="email">Disciplina</label> <input id="email" type="email"
				class="form-control" placeholder="Descrição da disciplina"
				jsf:value="#{userView.user.email}" />
		</div>
		<button type="Submit" class="btn btn-default btn-primary"
			jsf:actionListener="#{userView.save}">
			Salvar
			<f:ajax execute="@form" render="msg" />
		</button>
	</form>
</h:body>
</html>

<!-- <!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Declarações</ui:define>
	<ui:define name="corpo">
		<p:panel header="Declarações" styleClass="panel-formulario">
			<h2>Funcionalidade em desenvolvimento...</h2>
			<p:link href="/paginas/principal.xhtml" value="Página inicial" />
		</p:panel>
	</ui:define>
</ui:composition> -->