<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - relatórios</ui:define>
	<ui:define name="corpo">
		<p:panel header="Relatórios do sistema" styleClass="panel-formulario">
			<h2>Funcionalidade em desenvolvimento...</h2>
			<p:link href="/paginas/principal.xhtml" value="Página inicial" />
		</p:panel>
	</ui:define>
</ui:composition>