<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Aluno</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{alunoBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de aluno" styleClass="panel-formulario">
			<h:form id="frm-pessoafisica" styleClass="form-horizontal">
				<p:focus for="matricula" />
				<p:panelGrid columns="5" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-2, ui-grid-col-5, ui-grid-col-2, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							id="codigo" disabled="#{empty alunoBean.aluno}"
							value="#{alunoBean.aluno.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Matrícula" for="matricula" />
						<p:inputText label="Matricula" id="matricula"
							disabled="#{empty alunoBean.aluno}" required="true"
							styleClass="text-uppercase" onkeyup="maiusculo(this)"
							value="#{alunoBean.aluno.matricula}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Aluno" for="nome" />
						<p:inputText label="Nome" id="nome"
							disabled="#{empty alunoBean.aluno}" required="true"
							styleClass="text-uppercase" onkeyup="maiusculo(this)"
							value="#{alunoBean.aluno.nome}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nascimento" for="dtnasc" />
						<p:calendar id="dtnasc" disabled="#{empty alunoBean.aluno}"
							locale="#{autenticacaoBean.locale}" required="true"
							navigator="true" mask="true"
							value="#{alunoBean.aluno.datanascimento}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Sexo" for="sexo" />
						<p:selectOneRadio id="sexo" value="#{alunoBean.aluno.sexo}"
							disabled="#{empty alunoBean.aluno}"
							title="Selecione o sexo do aluno." required="true">
							<f:selectItem itemLabel="Masc." itemValue='M' />
							<f:selectItem itemLabel="Fem." itemValue='F' />
						</p:selectOneRadio>
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="4" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-6, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="CPF" for="cpf" />
						<p:inputMask id="cpf" mask="999.999.999-99"
							disabled="#{empty alunoBean.aluno}"
							value="#{alunoBean.aluno.cpf}" converter="cpfconverter" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Celular" for="celular" />
						<p:inputMask id="celular" mask="(99) 99999-9999"
							converter="foneconverter" disabled="#{empty alunoBean.aluno}"
							value="#{alunoBean.aluno.celular}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Responsável" for="responsavel" />
						<p:inputText id="responsavel" disabled="#{empty alunoBean.aluno}"
							onkeyup="maiusculo(this)" value="#{alunoBean.aluno.responsavel}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Contato" for="foneresponsavel" />
						<p:inputMask id="foneresponsavel" mask="(99) 99999-9999"
							converter="foneconverter" disabled="#{empty alunoBean.aluno}"
							value="#{alunoBean.aluno.telefoneResponsavel}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{alunoBean.novo}"
						styleClass="btn-azul" rendered="#{empty alunoBean.aluno}"
						update="frm-pessoafisica" />
					<p:commandButton value="Salvar" action="#{alunoBean.salvar}"
						rendered="#{not empty alunoBean.aluno}"
						update="frm-pessoafisica frm-localizar" />
					<p:commandButton value="Excluir" action="#{alunoBean.remover}"
						process="@this" update="frm-pessoafisica frm-localizar"
						disabled="#{empty alunoBean.aluno.id}">
						<p:confirm icon="ui-icon-alert"
							message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{alunoBean.limpar}"
						disabled="#{empty alunoBean.aluno}" update="frm-pessoafisica"
						immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid id="pnl-pesquisa" columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-6, ui-grid-col-1, ui-grid-col-5">
					<p:inputText id="nome-unidade" value="#{alunoBean.nomePessoa}"
						onkeyup="maiusculo(this)" title="Pesquisa pelo nome do aluno."
						placeholder="Pesquisar pelo nome do aluno"
						disabled="#{empty alunoBean.alunos}" />
					<p:commandLink action="#{alunoBean.pesquisar}"
						update="frm-pessoafisica frm-localizar"
						disabled="#{empty alunoBean.alunos}">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty alunoBean.alunos}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{autenticacao.encoding}"
								target="lista-pessoas" fileName="Relação_alunos" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty alunoBean.alunos}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{autenticacao.encoding}"
								target="lista-pessoas" fileName="Relação_alunos" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{alunoBean.alunos}" id="lista-pessoas" var="a"
					rows="6" paginator="true" reflow="true"
					paginatorAlwaysVisible="false" paginatorPosition="bottom"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					selection="#{alunoBean.aluno}" selectionMode="single"
					rowKey="#{a.id}">
					<p:ajax event="rowSelect" update="frm-pessoafisica" />
					<p:ajax event="rowUnselect" update="frm-pessoafisica" />
					<p:column headerText="Matrícula" styleClass="coluna-cpf">
						<p:outputLabel value="#{a.matricula}" />
					</p:column>
					<p:column headerText="Nome">
						<p:outputLabel value="#{a.nome}" />
					</p:column>
					<p:column headerText="Nascimento" styleClass="coluna-cnpj">
						<p:outputLabel value="#{a.datanascimento}">
							<f:convertDateTime />
						</p:outputLabel>
					</p:column>
					<p:column headerText="Fone" styleClass="coluna-cnpj">
						<p:outputLabel value="#{a.telefoneResponsavel}"
							title="Telefone do responsável">
							<f:converter converterId="foneconverter" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>