<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Conteúdo</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{conteudoBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de Conteúdo" styleClass="panel-formulario">
			<h:form id="frm-conteudo">
				<p:focus for="periodo-letivo" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-3, ui-grid-col-8">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText id="codigo" value="#{conteudoBean.conteudo.id}"
							styleClass="somente-leitura" readonly="true"
							disabled="#{empty conteudoBean.conteudo}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Período letivo" for="periodo-letivo" />
						<p:autoComplete id="periodo-letivo"
							value="#{conteudoBean.conteudo.periodoletivo}"
							title="Selecione o período letivo"
							disabled="#{empty conteudoBean.conteudo}" required="true" var="p"
							itemLabel="#{p.periodoletivo}" itemValue="#{p}"
							completeMethod="#{conteudoBean.listarPeriodosLetivos}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							effect="blind" dropdown="true" dropdownMode="current"
							forceSelection="true" scrollHeight="150" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Disciplina" for="disciplina" />
						<p:autoComplete id="disciplina"
							value="#{conteudoBean.conteudo.disciplina}"
							title="Selecione a disciplina"
							disabled="#{empty conteudoBean.conteudo}" required="true" var="d"
							itemLabel="#{d.disciplina}" itemValue="#{d}"
							completeMethod="#{conteudoBean.listarDisciplinas}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							effect="blind" dropdown="true" dropdownMode="current"
							forceSelection="true" scrollHeight="150" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-6, ui-grid-col-3,  ui-grid-col-3">
					<p:panelGrid>
						<p:outputLabel value="Conteúdo" for="conteudo" />
						<p:inputText id="conteudo" required="true"
							onblur="maiusculo(this)"
							disabled="#{empty conteudoBean.conteudo}"
							value="#{conteudoBean.conteudo.conteudo}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Tipo turma" for="tipo-turma" />
						<p:autoComplete id="tipo-turma"
							value="#{conteudoBean.conteudo.tipoturma}" dropdown="true"
							title="Selecione o tipo da turma"
							disabled="#{empty conteudoBean.conteudo}" var="t"
							itemLabel="#{t.tipoturma}" itemValue="#{t}"
							completeMethod="#{conteudoBean.listarTiposTurma}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							effect="blind" dropdownMode="current" forceSelection="true"
							scrollHeight="150" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="#{msg.lbl_modulo}" for="modulo" />
						<p:autoComplete id="modulo"
							value="#{conteudoBean.conteudo.modulo}"
							title="Selecione o Módulo"
							disabled="#{empty conteudoBean.conteudo}" required="true" var="m"
							itemLabel="#{m.modulo}" itemValue="#{m}"
							completeMethod="#{conteudoBean.listarModulos}" minQueryLength="1"
							maxResults="100" queryDelay="1000" effect="blind" dropdown="true"
							dropdownMode="current" forceSelection="true" scrollHeight="150" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="#{msg.btn_incluir}"
						action="#{conteudoBean.novo}"
						rendered="#{empty conteudoBean.conteudo}" update="frm-conteudo" />
					<p:commandButton value="#{msg.btn_salvar}"
						action="#{conteudoBean.salvar}"
						rendered="#{not empty conteudoBean.conteudo}"
						update="frm-conteudo frm-localizar" />
					<p:commandButton value="#{msg.btn_excluir}"
						action="#{conteudoBean.remover}"
						update="frm-conteudo frm-localizar" process="@this"
						disabled="#{empty conteudoBean.conteudo.id}">
						<p:confirm icon="ui-icon-alert"
							message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="#{msg.btn_cancelar}"
						action="#{conteudoBean.limpar}"
						disabled="#{empty conteudoBean.conteudo}" update="frm-conteudo"
						immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-6, ui-grid-col-1,ui-grid-col-5">
					<p:inputText id="nome-conteudo" title="#{msg.plh_pesq_texto}"
						onkeyup="maiusculo(this)" value="#{conteudoBean.nomeConteudo}"
						placeholder="#{msg.plh_pesq_texto}" />
					<p:commandLink alt="#{msg.btn_pesquisar}"
						title="#{msg.btn_pesquisar}" action="#{conteudoBean.pesquisar}"
						update="frm-localizar">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty conteudoBean.conteudos}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-de-conteudos" fileName="Relação_conteudos" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty conteudoBean.conteudos}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-de-conteudos" fileName="Relação_conteudos" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{conteudoBean.conteudos}"
					id="lista-de-conteudos" var="c" rows="8"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{conteudoBean.conteudo}"
					selectionMode="single" rowKey="#{c.id}">
					<p:ajax event="rowSelect" update="frm-conteudo" />
					<p:ajax event="rowUnselect" update="frm-conteudo" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{c.id}" />
					</p:column>
					<p:column headerText="Conteudo">
						<p:outputLabel value="#{c.conteudo.toUpperCase()}" />
					</p:column>
					<p:column headerText="#{msg.lbl_disciplina}"
						styleClass="coluna-cnpj">
						<p:outputLabel value="#{c.disciplina.disciplina}" />
					</p:column>
					<p:column headerText="#{msg.lbl_modulo}" styleClass="coluna-cnpj">
						<p:outputLabel value="#{c.modulo.modulo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>