<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - modulo</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{moduloBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de modulo" styleClass="panel-formulario">
			<h:form id="frm-modulo">
				<p:focus for="modulo" />
				<p:panelGrid columns="2" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-11">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							disabled="#{empty moduloBean.modulo}" id="codigo"
							value="#{moduloBean.modulo.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Módulo" for="modulo" />
						<p:inputText id="modulo" value="#{moduloBean.modulo.modulo}"
							required="true" onkeyup="maiusculo(this)"
							disabled="#{empty moduloBean.modulo}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{moduloBean.novo}"
						rendered="#{empty moduloBean.modulo}" update="frm-modulo" />
					<p:commandButton value="Salvar" action="#{moduloBean.salvar}"
						rendered="#{not empty moduloBean.modulo}"
						update="frm-modulo frm-localizar" />
					<p:commandButton value="Excluir" action="#{moduloBean.remover}"
						update="frm-modulo frm-localizar" process="@this"
						disabled="#{empty moduloBean.modulo.id}">
						<p:confirm icon="ui-icon-alert"
							message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{moduloBean.limpar}"
						disabled="#{empty moduloBean.modulo}" update="frm-modulo"
						immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-6, ui-grid-col-1, ui-grid-col-5">
					<p:inputText id="nome-modulo"
						title="Pesquisa pela descrição da modulo."
						onkeyup="maiusculo(this)" value="#{moduloBean.nomeModulo}"
						placeholder="Descrição da modulo"
						disabled="#{empty moduloBean.modulos}" />
					<p:commandLink action="#{moduloBean.pesquisar}"
						update="frm-localizar" disabled="#{empty moduloBean.modulos}">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty moduloBean.modulos}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-de-modulos" fileName="Relação_modulos" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty moduloBean.modulos}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-de-modulos" fileName="Relação_modulos" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{moduloBean.modulos}" id="lista-de-modulos"
					var="m" rows="10"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{moduloBean.modulo}"
					selectionMode="single" rowKey="#{m.id}">
					<p:ajax event="rowSelect" update="frm-modulo" />
					<p:ajax event="rowUnselect" update="frm-modulo" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{m.id}" />
					</p:column>
					<p:column headerText="modulo">
						<p:outputLabel value="#{m.modulo}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>