<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Cadastro de professor</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{professorBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de professor" styleClass="panel-formulario"
			id="page">
			<h:form id="frm-professor">
				<p:focus for="professor" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-9, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							disabled="#{empty professorBean.professor}" id="codigo"
							value="#{professorBean.professor.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Nome" for="professor" />
						<p:inputText id="professor"
							value="#{professorBean.professor.funcionario}" required="true"
							onkeyup="maiusculo(this)"
							disabled="#{empty professorBean.professor}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="CPF" for="cpf" />
						<p:inputMask id="cpf" mask="999.999.999-99"
							disabled="#{empty professorBean.professor}"
							value="#{professorBean.professor.cpf}" converter="cpfconverter" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{professorBean.novo}"
						rendered="#{empty professorBean.professor}" update="frm-professor" />
					<p:commandButton value="Salvar" action="#{professorBean.salvar}"
						rendered="#{not empty professorBean.professor}"
						update="frm-professor frm-localizar" />
					<p:commandButton value="Excluir" action="#{professorBean.remover}"
						update="frm-professor frm-localizar" process="@this"
						disabled="#{empty professorBean.professor.id}">
						<p:confirm message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{professorBean.limpar}"
						disabled="#{empty professorBean.professor}"
						update="frm-professor page" immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar"
				rendered="#{empty professorBean.professor}">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-6, ui-grid-col-1, ui-grid-col-5">
					<p:inputText id="nome-professor"
						title="Pesquisa pela nome do Professor." onkeyup="maiusculo(this)"
						value="#{professorBean.nomeProfessor}"
						placeholder="Nome do Professor" />
					<p:commandLink action="#{professorBean.pesquisar}"
						update="frm-localizar">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty professorBean.professores}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-de-professores" fileName="Relação_professores" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty professorBean.professores}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-de-professores" fileName="Relação_disciplinas" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{professorBean.professores}"
					id="lista-de-professores" var="p" rows="6"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{professorBean.professor}"
					selectionMode="single" rowKey="#{p.id}">
					<p:ajax event="rowSelect" update="frm-professor page" />
					<p:ajax event="rowUnselect" update="frm-professor" />
					<p:column headerText="Id" styleClass="coluna-codigo">
						<p:outputLabel value="#{p.id}" />
					</p:column>
					<p:column headerText="Professor">
						<p:outputLabel value="#{p.funcionario}" />
					</p:column>
					<p:column headerText="CPF" styleClass="coluna-cnpj">
						<p:outputLabel value="#{p.cpf}">
							<f:converter converterId="cpfconverter" />
						</p:outputLabel>
					</p:column>
				</p:dataTable>
			</h:form>
			<h:form id="frm-vinculados">
				<p:tabView id="relacionados" dynamic="true"
					rendered="#{not empty professorBean.professor}" widgetVar="tb">
					<p:tab title="Disciplinas" titletip="Disciplinas vinculadas"
						id="tab-vinculo-disciplina">
						<p:dataTable var="dv"
							value="#{professorBean.professorDisciplinas}"
							emptyMessage="Nenhuma disciplina vinculada a este professor"
							paginator="true" rows="10" paginatorPosition="bottom"
							paginatorAlwaysVisible="false">
							<p:column headerText="Disciplina">
								<p:outputLabel value="#{dv.disciplina.disciplina}" />
							</p:column>
							<p:column headerText="" styleClass="coluna-codigo">
								<p:graphicImage rendered="#{dv.ativo}" library="img/jpg"
									name="true.jpg" title="Opção ativa" alt="SIM"
									style=" max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
								<p:graphicImage rendered="#{not dv.ativo}" library="img/jpg"
									name="false.jpg" title="Opção inativa" alt="NÃO"
									style="  max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink update="frm-vinculados"
									onclick="PF('tb').select(1);" oncomplete="PF('bui').show()">
									<h:graphicImage library="img/png" name="editar.png" width="15"
										title="Editar vínculo" alt="Editar" />
									<f:setPropertyActionListener value="#{dv}"
										target="#{professorBean.relProfessorDisciplina}" />
								</p:commandLink>
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink
									action="#{professorBean.removerProfessorDisciplina}"
									update="frm-vinculados">
									<h:graphicImage library="img/png" name="delete.png" width="15"
										title="Desvincular aluno" alt="Desvincular" />
									<f:setPropertyActionListener value="#{dv}"
										target="#{professorBean.relProfessorDisciplina}" />
									<p:confirm message="Tem certeza que deseja excluir o registro?" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:tab>
					<p:tab title="Novo vínculo" titletip="Vincular disciplina"
						id="tab-novo-vinculo">
						<p:panelGrid
							rendered="#{not empty professorBean.relProfessorDisciplina}"
							columns="3" layout="grid" styleClass="panelgrid-noborder"
							columnClasses=" ui-grid-col-2, ui-grid-col-8, ui-grid-col-2">
							<p:panelGrid>
								<p:outputLabel value="Ativo?" for="ativo" />
								<p:selectOneRadio id="ativo"
									value="#{professorBean.relProfessorDisciplina.ativo}"
									disabled="#{empty professorBean.relProfessorDisciplina}"
									title="Selecione se o vínculo ainda existe.">
									<f:selectItem itemLabel="Sim." itemValue='true' />
									<f:selectItem itemLabel="Não." itemValue='false' />
								</p:selectOneRadio>
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="Disciplina" for="disciplina" />
								<p:autoComplete id="disciplina"
									value="#{professorBean.relProfessorDisciplina.disciplina}"
									title="Selecione a disciplina"
									disabled="#{empty professorBean.relProfessorDisciplina}"
									rendered="#{not empty professorBean.relProfessorDisciplina}"
									dropdown="true" required="true" var="d"
									itemLabel="#{d.disciplina}" itemValue="#{d}"
									completeMethod="#{professorBean.listarDisciplinas}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									effect="blind" dropdownMode="current" forceSelection="true"
									scrollHeight="150" />
								<p:focus for="disciplina" />
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="." />
								<p:commandButton value="Vincular"
									action="#{professorBean.salvarProfessorDisciplina}"
									update="frm-vinculados"
									oncomplete="PF('tb').select(0); return false; PF('bui').hide()" />
							</p:panelGrid>
						</p:panelGrid>
						<p:panelGrid columns="1" layout="grid"
							styleClass="panelgrid-noborder" columnClasses=" ui-grid-col-12">
							<p:commandButton value="Vincular disciplina"
								action="#{professorBean.vincularDisciplina}"
								oncomplete="PF('bui').show()"
								rendered="#{empty professorBean.relProfessorDisciplina}"
								update="frm-vinculados" />
							<p:commandButton value="Cancelar"
								action="#{professorBean.limparVinculo}"
								oncomplete="PF('bui').hide()"
								rendered="#{not empty professorBean.relProfessorDisciplina}"
								update="frm-vinculados" immediate="true" resetValues="true" />
						</p:panelGrid>
					</p:tab>
				</p:tabView>
				<p:blockUI block="frm-professor" widgetVar="bui" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>