<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Cadastro de questão</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{questaoBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de questão" styleClass="panel-formulario"
			id="page">
			<h:form id="form">
				<p:focus for="conteudo" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-9, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							disabled="#{empty questaoBean.questao}" id="codigo"
							value="#{questaoBean.questao.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Conteúdo" for="conteudo" />
						<p:autoComplete id="conteudo"
							value="#{questaoBean.questao.conteudo}"
							title="Selecione o conteúdo"
							disabled="#{empty questaoBean.questao}" required="true" var="c"
							itemLabel="#{c.disciplina.disciplina} #{c.conteudo}"
							itemValue="#{c}" completeMethod="#{questaoBean.listarConteudos}"
							minQueryLength="1" maxResults="100" queryDelay="1000"
							effect="blind" dropdown="true" dropdownMode="current"
							forceSelection="true" scrollHeight="150" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="" for="ativo" />
						<br />
						<p:selectBooleanButton id="ativo"
							value="#{questaoBean.questao.ativo}" onLabel="Ativo"
							offLabel="Inativo" disabled="#{empty questaoBean.questao}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid"
					styleClass="panelgrid-noborder" columnClasses="ui-grid-col-12">
					<p:panelGrid>
						<p:outputLabel value="Enunciado da questão" for="questao" />
						<p:inputTextarea id="questao"
							value="#{questaoBean.questao.questao}" required="true"
							onkeyup="maiusculo(this)" disabled="#{empty questaoBean.questao}"
							rows="3" cols="30" counter="display" maxlength="2000"
							placeholder="Este espaço é reservado para a descrição do enunciado da questão."
							counterTemplate="{0} caracteres permitidos." autoResize="true" />
						<h:outputText id="display" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{questaoBean.novo}"
						rendered="#{empty questaoBean.questao}" update="form" />
					<p:commandButton value="Salvar" action="#{questaoBean.salvar}"
						rendered="#{not empty questaoBean.questao}"
						update="form frm-localizar" />
					<p:commandButton value="Excluir" action="#{questaoBean.remover}"
						update="form frm-localizar" process="@this"
						disabled="#{empty questaoBean.questao.id}">
						<p:confirm message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{questaoBean.limpar}"
						disabled="#{empty questaoBean.questao}" update="form page"
						immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar" rendered="#{empty questaoBean.questao.id}">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
					<p:inputText id="descr-questao"
						title="Pesquisa pela descrição da questão."
						onkeyup="maiusculo(this)" value="#{questaoBean.descricaoQuestao}"
						placeholder="Descrição da questão" />
					<p:commandLink action="#{questaoBean.pesquisar}"
						update="frm-localizar">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty questaoBean.questoes}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-de-questoes" fileName="Relação_questões" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty questaoBean.questoes}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-de-questoes" fileName="Relação_questões" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{questaoBean.questoes}" id="lista-de-questoes"
					var="q" rows="6"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					rendered="#{not empty questaoBean.questoes}" paginator="true"
					reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{questaoBean.questao}"
					selectionMode="single" rowKey="#{q.id}">
					<p:ajax event="rowSelect" update="form page"
						listener="#{questaoBean.pesquisarItens}" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{q.id}" />
					</p:column>
					<p:column headerText="Questão">
						<p:outputLabel value="#{q.questao}" />
					</p:column>
					<p:column headerText="Disciplina" styleClass="coluna-cnpj">
						<p:outputLabel value="#{q.conteudo.disciplina.disciplina}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<p:panel id="itens" header="Itens da questão selecionada"
				rendered="#{not empty questaoBean.questao.id}">
				<h:form id="frm-itens">
					<p:focus for="descritem" />
					<p:panelGrid columns="3" layout="grid"
						styleClass="panelgrid-noborder"
						columnClasses=" ui-grid-col-1, ui-grid-col-9, ui-grid-col-2">
						<p:panelGrid>
							<p:outputLabel value="Ativo?" for="itemativo" />
							<p:selectBooleanButton id="itemativo"
								value="#{questaoBean.itemQuestao.ativo}"
								disabled="#{empty questaoBean.itemQuestao}" onLabel="S"
								offLabel="N" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Opção de resposta" for="descritem" />
							<p:inputText id="descritem"
								value="#{questaoBean.itemQuestao.itemquestao}" required="true"
								disabled="#{empty questaoBean.itemQuestao}"
								onkeyup="maiusculo(this)" />
						</p:panelGrid>
						<p:panelGrid>
							<p:outputLabel value="Correta?" for="correto" />
							<p:selectBooleanButton id="correto"
								value="#{questaoBean.itemQuestao.correto}"
								disabled="#{empty questaoBean.itemQuestao}" onLabel="Sim"
								offLabel="Não" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="3" layout="grid"
						styleClass="panelgrid-noborder"
						columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
						<p:commandButton value="Novo"
							action="#{questaoBean.novoItemQuestao}"
							oncomplete="PF('bui').show()"
							rendered="#{empty questaoBean.itemQuestao}"
							update="frm-itens lista-items-questao" />
						<p:commandButton value="Salvar" onclick="PF('bui').hide()"
							action="#{questaoBean.salvarItemQuestao}"
							rendered="#{not empty questaoBean.itemQuestao}"
							update="frm-itens lista-items-questao" />
						<p:commandButton value="Excluir"
							action="#{questaoBean.removerItemQuestao}"
							update="frm-itens lista-items-questao" process="@this"
							disabled="#{empty questaoBean.itemQuestao.id}">
							<p:confirm message="Tem certeza que deseja excluir o registro?" />
						</p:commandButton>
						<p:commandButton value="Cancelar"
							action="#{questaoBean.limparItemQuestao}"
							onclick="PF('bui').hide()"
							disabled="#{empty questaoBean.itemQuestao}" update="frm-itens"
							immediate="true" resetValues="true" />
					</p:panelGrid>
				</h:form>
				<h:form id="lista-items-questao">
					<p:dataTable value="#{questaoBean.itensQuestao}"
						id="lista-de-itens-questao" var="i" rows="5"
						emptyMessage="Nenhum registro satisfaz à pesquisa."
						rendered="#{not empty questaoBean.itensQuestao}" paginator="true"
						reflow="true" paginatorAlwaysVisible="false"
						paginatorPosition="bottom" selection="#{questaoBean.itemQuestao}"
						selectionMode="single" rowKey="#{i.id}">
						<p:ajax event="rowSelect" update="frm-itens"
							oncomplete="PF('bui').show()" />
						<p:column headerText="Alternativas">
							<p:outputLabel value="#{i.itemquestao}" />
						</p:column>
						<p:column headerText="" styleClass="coluna-codigo">
							<p:graphicImage rendered="#{i.correto}" library="img/jpg"
								name="true.jpg" title="Opção correta" alt="SIM"
								style=" max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
							<p:graphicImage rendered="#{not i.correto}" library="img/jpg"
								name="false.jpg" title="Opção errada" alt="NÃO"
								style="  max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
						</p:column>
						<p:column headerText="" styleClass="coluna-codigo">
							<p:graphicImage rendered="#{i.ativo}" library="img/jpg"
								name="true.jpg" title="Opção ativa" alt="SIM"
								style=" max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
							<p:graphicImage rendered="#{not i.ativo}" library="img/jpg"
								name="false.jpg" title="Opção inativa" alt="NÃO"
								style="  max-width: 30%; display: block; margin-left: auto; margin-right: auto;" />
						</p:column>
					</p:dataTable>
					<p:blockUI block="form" widgetVar="bui" />
				</h:form>
			</p:panel>
		</p:panel>
	</ui:define>
</ui:composition>