<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Tipo de turma</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{tipoTurmaBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de tipo de turma"
			styleClass="panel-formulario">
			<h:form id="frm-tipo-turma">
				<p:focus for="tipo-turma" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-5, ui-grid-col-2">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							disabled="#{empty tipoTurmaBean.tipoTurma}" id="codigo"
							value="#{tipoTurmaBean.tipoTurma.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Tipo de turma" for="tipo-turma" />
						<p:inputText id="tipo-turma"
							value="#{tipoTurmaBean.tipoTurma.tipoturma}" required="true"
							onkeyup="maiusculo(this)"
							disabled="#{empty tipoTurmaBean.tipoTurma}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="CódTipoturma" for="codtipoturma" />
						<p:inputText id="codtipoturma"
							value="#{tipoTurmaBean.tipoTurma.codtipoturma}" required="true"
							onkeyup="maiusculo(this)"
							disabled="#{empty tipoTurmaBean.tipoTurma}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{tipoTurmaBean.novo}"
						rendered="#{empty tipoTurmaBean.tipoTurma}"
						update="frm-tipo-turma" />
					<p:commandButton value="Salvar" action="#{tipoTurmaBean.salvar}"
						rendered="#{not empty tipoTurmaBean.tipoTurma}"
						update="frm-tipo-turma frm-localizar" />
					<p:commandButton value="Excluir" action="#{tipoTurmaBean.remover}"
						update="frm-tipo-turma frm-localizar" process="@this"
						disabled="#{empty tipoTurmaBean.tipoTurma.id}">
						<p:confirm icon="ui-icon-alert"
							message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{tipoTurmaBean.limpar}"
						disabled="#{empty tipoTurmaBean.tipoTurma}"
						update="frm-tipo-turma" immediate="true" resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
					<p:inputText id="nome-disciplina"
						title="Pesquisa pela descrição do tipo de turma."
						onkeyup="maiusculo(this)" value="#{tipoTurmaBean.nomeTipoTurma}"
						placeholder="Descrição do tipo de turma"
						disabled="#{empty tipoTurmaBean.tiposTurma}" />
					<p:commandLink action="#{disciplinaBean.pesquisar}"
						update="frm-localizar"
						disabled="#{empty tipoTurmaBean.tiposTurma}">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty tipoTurmaBean.tiposTurma}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-tipos-turma" fileName="Relação_tipos_turma" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty tipoTurmaBean.tiposTurma}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-tipos-turma" fileName="Relação_tipos_turma" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{tipoTurmaBean.tiposTurma}"
					id="lista-tipos-turma" var="t" rows="8"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{tipoTurmaBean.tipoTurma}"
					selectionMode="single" rowKey="#{t.id}">
					<p:ajax event="rowSelect" update="frm-tipo-turma" />
					<p:ajax event="rowUnselect" update="frm-tipo-turma" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{t.id}" />
					</p:column>
					<p:column headerText="Tipo de turma">
						<p:outputLabel value="#{t.tipoturma}" />
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>