<!DOCTYPE html>
<ui:composition template="/WEB-INF/templates/layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="titulo">#{msg.ttl_sistema} - Turma</ui:define>
	<ui:define name="corpo">
		<f:metadata>
			<f:viewAction action="#{turmaBean.iniciar}" />
		</f:metadata>
		<p:panel header="Cadastro de turma" styleClass="panel-formulario"
			id="page">
			<h:form id="frm-turma">
				<p:focus for="turma" />
				<p:panelGrid columns="2" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-1, ui-grid-col-11">
					<p:panelGrid>
						<p:outputLabel value="Código" for="codigo" />
						<p:inputText styleClass="somente-leitura" readonly="true"
							disabled="#{empty turmaBean.turma}" id="codigo"
							value="#{turmaBean.turma.id}" />
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Turma" for="turma" />
						<p:inputText id="turma" value="#{turmaBean.turma.turma}"
							required="true" onkeyup="maiusculo(this)"
							disabled="#{empty turmaBean.turma}" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-8">
					<p:panelGrid>
						<p:outputLabel value="Hora Ini." for="hora-inicial" />
						<p:inputMask id="hora-inicial"
							value="#{turmaBean.turma.horaInicial}" required="true"
							mask="99:99" disabled="#{empty turmaBean.turma}">
							<f:convertDateTime pattern="HH:mm"
								timeZone="#{autenticacaoBean.timeZone}" />
						</p:inputMask>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Hora Fim" for="hora-final" />
						<p:inputMask id="hora-final" value="#{turmaBean.turma.horafinal}"
							required="true" mask="99:99" disabled="#{empty turmaBean.turma}">
							<f:convertDateTime pattern="HH:mm"
								timeZone="#{autenticacaoBean.timeZone}" />
						</p:inputMask>
					</p:panelGrid>
					<p:panelGrid>
						<p:outputLabel value="Tipo turma" for="tipo-turma" />
						<p:autoComplete id="tipo-turma"
							value="#{turmaBean.turma.tipoturma}" dropdown="true"
							title="Selecione o tipo da turma"
							disabled="#{empty turmaBean.turma}" var="t"
							itemLabel="#{t.tipoturma}" itemValue="#{t}"
							completeMethod="#{turmaBean.listarTiposTurma}" minQueryLength="1"
							maxResults="100" queryDelay="1000" effect="blind"
							dropdownMode="current" forceSelection="true" scrollHeight="150" />
					</p:panelGrid>
				</p:panelGrid>
				<p:panelGrid columns="3" layout="grid"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-2, ui-grid-col-2">
					<p:commandButton value="Novo" action="#{turmaBean.novo}"
						rendered="#{empty turmaBean.turma}" update="frm-turma" />
					<p:commandButton value="Salvar" action="#{turmaBean.salvar}"
						rendered="#{not empty turmaBean.turma}"
						update="frm-turma frm-localizar" />
					<p:commandButton value="Excluir" action="#{turmaBean.remover}"
						update="frm-turma frm-localizar" process="@this"
						disabled="#{empty turmaBean.turma.id}">
						<p:confirm icon="ui-icon-alert"
							message="Tem certeza que deseja excluir o registro?" />
					</p:commandButton>
					<p:commandButton value="Cancelar" action="#{turmaBean.limpar}"
						disabled="#{empty turmaBean.turma}" update="page" immediate="true"
						resetValues="true" />
				</p:panelGrid>
			</h:form>
			<p:separator />
			<h:form id="frm-localizar" rendered="#{empty turmaBean.turma}">
				<p:panelGrid columns="3" layout="grid" id="pnl-pesquisa"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-5, ui-grid-col-1, ui-grid-col-6">
					<p:inputText id="nome-turma"
						title="Pesquisa pela descrição da turma."
						onkeyup="maiusculo(this)" value="#{turmaBean.nomeTurma}"
						placeholder="Descrição da turma"
						disabled="#{empty turmaBean.turmas}" />
					<p:commandLink action="#{turmaBean.pesquisar}"
						update="frm-localizar" disabled="#{empty turmaBean.turmas}">
						<h:graphicImage library="img/png" name="search.png" width="20"
							title="Pesquisar" alt="Pesquisar" />
					</p:commandLink>
					<p:panelGrid columns="2" layout="grid"
						styleClass="panelgrid-noborder" style="float: right;">
						<p:commandLink title="Exportar para XLS" ajax="false"
							immediate="true" disabled="#{empty turmaBean.turmas}">
							<h:graphicImage library="img/png" name="xls.png" width="15" />
							<p:dataExporter type="xls" encoding="#{usuario.encoding}"
								target="lista-de-turmas" fileName="Relação_turmas" />
						</p:commandLink>
						<p:commandLink title="Exporat para pdf" ajax="false"
							immediate="true" disabled="#{empty turmaBean.turmas}">
							<h:graphicImage library="img/png" name="pdf.png" width="15" />
							<p:dataExporter type="pdf" encoding="#{usuario.encoding}"
								target="lista-de-turmas" fileName="Relação_turmas" />
						</p:commandLink>
					</p:panelGrid>
				</p:panelGrid>
				<p:dataTable value="#{turmaBean.turmas}" id="lista-de-turmas"
					var="t" rows="10"
					emptyMessage="Nenhum registro satisfaz à pesquisa."
					paginator="true" reflow="true" paginatorAlwaysVisible="false"
					paginatorPosition="bottom" selection="#{turmaBean.turma}"
					selectionMode="single" rowKey="#{t.id}">
					<p:ajax event="rowSelect" update="frm-turma page" />
					<p:ajax event="rowUnselect" update="frm-turma" />
					<p:column headerText="Código" styleClass="coluna-codigo">
						<p:outputLabel value="#{t.id}" />
					</p:column>
					<p:column headerText="Tipo" styleClass="coluna-cpf"
						sortBy="#{t.tipoturma.tipoturma}">
						<p:outputLabel value="#{t.tipoturma.tipoturma}" />
					</p:column>
					<p:column headerText="Turma">
						<p:outputLabel value="#{t.turma}" />
					</p:column>
				</p:dataTable>
			</h:form>
			<h:form id="frm-vinculados">
				<p:tabView id="vinculos" rendered="#{not empty turmaBean.turma}"
					widgetVar="tb">
					<p:tab title="Alunos"
						titletip="Alunos vinculados à #{turmaBean.turma.turma}"
						id="tab-vincular-aluno">
						<p:dataTable var="av" value="#{turmaBean.alunosVinculados}"
							emptyMessage="Nenhum aluno vinculado a esta turma"
							paginator="true" rows="10" paginatorPosition="bottom"
							paginatorAlwaysVisible="false">
							<p:column headerText="Per. Letivo" styleClass="coluna-cnpj">
								<p:outputLabel value="#{av.periodoletivo.periodoletivo}" />
							</p:column>
							<p:column headerText="Matrícula" styleClass="coluna-cnpj">
								<p:outputLabel value="#{av.aluno.matricula}" />
							</p:column>
							<p:column headerText="Aluno">
								<p:outputLabel value="#{av.aluno.nome}" />
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink>
									<h:graphicImage library="img/jpg" name="boletim.jpg" width="10"
										title="Histórico do aluno" alt="Histórico" />
								</p:commandLink>
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink update="frm-vinculados"
									onclick="PF('tb').select(2);" oncomplete="PF('bui').show()">
									<h:graphicImage library="img/png" name="editar.png" width="15"
										title="Editar vínculo" alt="Editar" />
									<f:setPropertyActionListener value="#{av}"
										target="#{turmaBean.relAlunoTurma}" />
								</p:commandLink>
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink
									action="#{turmaBean.excluirVinculoAlunoTurma(av)}"
									update="frm-vinculados">
									<h:graphicImage library="img/png" name="delete.png" width="15"
										title="Desvincular aluno" alt="Desvincular" />
									<p:confirm message="Tem certeza que deseja excluir o registro?" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:tab>
					<p:tab title="Disciplinas"
						titletip="Disciplinas vinculdas à #{turmaBean.turma.turma}"
						id="tab-vincular-disciplina">
						<p:dataTable var="dv" value="#{turmaBean.disciplinasVinculadas}"
							emptyMessage="Nenhuma disciplina vinculado a esta turma"
							paginator="true" rows="10" paginatorPosition="bottom"
							paginatorAlwaysVisible="false">
							<p:column headerText="Per. Letivo" styleClass="coluna-cnpj">
								<p:outputLabel value="#{dv.periodoletivo.periodoletivo}" />
							</p:column>
							<p:column headerText="Disciplina">
								<p:outputLabel value="#{dv.disciplina.disciplina}" />
							</p:column>
							<p:column headerText="Professor">
								<p:outputLabel
									value="#{dv.relFuncionarioDisciplina.funcionario.funcionario}" />
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink update="frm-vinculados"
									onclick="PF('tb').select(2);" oncomplete="PF('bui').show()">
									<h:graphicImage library="img/png" name="editar.png" width="15"
										title="Editar vínculo" alt="Editar" />
									<f:setPropertyActionListener value="#{dv}"
										target="#{turmaBean.relDisciplinaTurma}" />
								</p:commandLink>
							</p:column>
							<p:column styleClass="coluna-codigo">
								<p:commandLink
									action="#{turmaBean.excluirVinculoDisciplinaTurma(dv)}"
									update="frm-vinculados">
									<h:graphicImage library="img/png" name="delete.png" width="15"
										title="Desvincular disciplina" alt="Desvincular" />
									<p:confirm message="Tem certeza que deseja excluir o registro?" />
								</p:commandLink>
							</p:column>
						</p:dataTable>
					</p:tab>
					<p:tab title="Novo vínculo" titletip="Vincular aluno ou disciplina"
						id="tab-novo-vinculo">
						<p:panelGrid rendered="#{not empty turmaBean.relAlunoTurma}"
							columns="3" layout="grid" styleClass="panelgrid-noborder"
							columnClasses=" ui-grid-col-2, ui-grid-col-8, ui-grid-col-2">
							<p:panelGrid>
								<p:outputLabel value="Per. letivo" for="periodo-letivo-aluno" />
								<p:autoComplete id="periodo-letivo-aluno"
									value="#{turmaBean.relAlunoTurma.periodoletivo}"
									title="Selecione o período letivo"
									disabled="#{empty turmaBean.relAlunoTurma}"
									rendered="#{not empty turmaBean.relAlunoTurma}" dropdown="true"
									required="true" var="p" itemLabel="#{p.periodoletivo}"
									itemValue="#{p}"
									completeMethod="#{turmaBean.listarPeriodosLetivos}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									effect="blind" dropdownMode="current" forceSelection="true"
									scrollHeight="150" />
								<p:focus for="periodo-letivo-aluno" />
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="Aluno" for="aluno" />
								<p:autoComplete id="aluno"
									value="#{turmaBean.relAlunoTurma.aluno}"
									placeholder="NOME DO ALUNO" dropdown="true"
									rendered="#{not empty turmaBean.relAlunoTurma}"
									title="Selecionar aluno" var="a" itemLabel="#{a.nome}"
									itemValue="#{a}" completeMethod="#{turmaBean.listaAlunos}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									required="true" effect="blind" dropdownMode="current"
									forceSelection="true" scrollHeight="150" />
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="." />
								<p:commandButton value="Vincular"
									action="#{turmaBean.salvarVinculoAluno}"
									update="frm-vinculados"
									oncomplete="PF('tb').select(0); return false; PF('bui').show()" />
							</p:panelGrid>
						</p:panelGrid>
						<p:panelGrid rendered="#{not empty turmaBean.relDisciplinaTurma}"
							columns="4" layout="grid" styleClass="panelgrid-noborder"
							columnClasses=" ui-grid-col-2, ui-grid-col-4, ui-grid-col-4, ui-grid-col-2">
							<p:panelGrid>
								<p:outputLabel value="Per. letivo"
									for="periodo-letivo-disciplina" />
								<p:autoComplete id="periodo-letivo-disciplina"
									value="#{turmaBean.relDisciplinaTurma.periodoletivo}"
									title="Selecione o período letivo"
									disabled="#{empty turmaBean.relDisciplinaTurma}"
									rendered="#{not empty turmaBean.relDisciplinaTurma}"
									dropdown="true" required="true" var="p"
									itemLabel="#{p.periodoletivo}" itemValue="#{p}"
									completeMethod="#{turmaBean.listarPeriodosLetivos}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									effect="blind" dropdownMode="current" forceSelection="true"
									scrollHeight="150" />
								<p:focus for="periodo-letivo-disciplina" />
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="Disciplina" for="disciplina" />
								<p:autoComplete id="disciplina"
									value="#{turmaBean.relDisciplinaTurma.disciplina}"
									placeholder="NOME DA DISCIPLINA" dropdown="true"
									rendered="#{not empty turmaBean.relDisciplinaTurma}"
									title="Selecionar disciplina" var="d"
									itemLabel="#{d.disciplina}" autocomplete="true"
									itemValue="#{d}"
									completeMethod="#{turmaBean.listarDisciplinas}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									required="true" effect="blind" dropdownMode="current"
									forceSelection="true" scrollHeight="150">
									<p:ajax event="itemSelect" update="professor" />
								</p:autoComplete>
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="Professor" for="professor" />
								<p:autoComplete id="professor"
									value="#{turmaBean.relDisciplinaTurma.relFuncionarioDisciplina}"
									placeholder="NOME DO PROFESSOR" dropdown="true"
									rendered="#{not empty turmaBean.relDisciplinaTurma}"
									title="Selecionar professor" var="p"
									itemLabel="#{p.funcionario.funcionario}" itemValue="#{p}"
									completeMethod="#{turmaBean.listarProfessoresPorDisciplina}"
									minQueryLength="1" maxResults="100" queryDelay="1000"
									required="true" effect="blind" dropdownMode="current"
									forceSelection="true" scrollHeight="150" />
							</p:panelGrid>
							<p:panelGrid>
								<p:outputLabel value="." />
								<p:commandButton value="Vincular"
									action="#{turmaBean.salvarVinculoDisciplina}"
									update="frm-vinculados"
									oncomplete="PF('tb').select(1); return false; PF('bui').hide()" />
							</p:panelGrid>
						</p:panelGrid>
						<p:panelGrid columns="2" layout="grid"
							styleClass="panelgrid-noborder"
							columnClasses=" ui-grid-col-6, ui-grid-col-6">
							<p:commandButton value="Vincular aluno"
								action="#{turmaBean.vincularAluno}"
								oncomplete="PF('bui').show()"
								rendered="#{empty turmaBean.relDisciplinaTurma and empty turmaBean.relAlunoTurma}"
								update="frm-vinculados" />
							<p:commandButton value="Vincular disciplina"
								action="#{turmaBean.vincularDisciplina}"
								oncomplete="PF('bui').show()"
								rendered="#{empty turmaBean.relDisciplinaTurma and empty turmaBean.relAlunoTurma}"
								update="frm-vinculados" />
						</p:panelGrid>
						<p:commandButton value="Cancelar"
							action="#{turmaBean.limparVinculos}"
							oncomplete="PF('bui').hide()"
							rendered="#{not empty turmaBean.relAlunoTurma || not empty turmaBean.relDisciplinaTurma}"
							update="frm-vinculados" immediate="true" resetValues="true" />
					</p:tab>
				</p:tabView>
				<p:blockUI block="frm-turma" widgetVar="bui" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>