<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>#{msg.ttl_sistema} - #{msg.title_acessar_o_sistema}</title>
	<h:outputStylesheet library="css" name="estilo.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
</h:head>
<h:body>
	<p:ajaxStatus onstart="PF('status').show();"
		onsuccess="PF('status').hide()" />
	<p:dialog widgetVar="status" closable="false" resizable="false">
			#{msg.load_aguarde}
		</p:dialog>
	<p:growl autoUpdate="true" />
	<div class="container" style="width: 17%; margin-top: 7%;">
		<h:form>
			<p:focus for="login" />
			<div class="form-group row row flex-items-xs-center">
				<div>
					<p:graphicImage library="img/jpg" name="logo.jpg"
						alt="Logo do cliente" style=" display: block; margin: auto;" />
					<div class="form-group row">
						<p:outputLabel value="#{msg.lbl_login}"
							styleClass="col-form-label" for="login" />
						<p:inputText title="Usuário"
							styleClass="form-control form-control-sm"
							placeholder="#{msg.plh_login}" id="login" required="true"
							value="#{autenticacaoBean.usuario}" />
					</div>
					<div class="form-group row">
						<p:outputLabel value="#{msg.lbl_senha}"
							styleClass="col-form-label" for="senha" />
						<p:password placeholder="#{msg.plh_senha}"
							styleClass="form-control form-control-sm" title="Senha"
							id="senha" required="true" value="#{autenticacaoBean.senha}" />
					</div>
					<div align="center" class="form-group row">
						<p:commandButton value="#{msg.btn_acessar}"
							styleClass="btn btn-primary btn-block"
							title="#{msg.title_acessar_o_sistema}"
							action="#{autenticacaoBean.autenticar}" />
						<p:link value="#{msg.lbl_esqueceu_senha}"
							title="#{msg.title_recuperar_senha}!" disabled="true" />
					</div>
				</div>
			</div>
		</h:form>
	</div>
</h:body>
</html>