<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>#{msg.ttl_sistema} - Erro</title>
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>
<h:body>
	<p:panelGrid columns="1" layout="grid"
		styleClass="ui-grid-col-12 panelgrid-noborder">
		<div class="service-pages">
			<h1>Ooops!</h1>
			<h4>Um erro inesperado ocorreu.</h4>
			<p>Por favor, contacte o Gestor do sistema.</p>
		</div>
	</p:panelGrid>
</h:body>
</html>